node_modules
.env

backend/src/main/resources/application.properties
backend/target/classes/application.properties
target
new 1.txt
backend/.classpath
backend/.settings/org.eclipse.core.resources.prefs
backend/.classpath
backend/.settings/org.eclipse.core.resources.prefs
