.modal-container {
  z-index: 500000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  position: absolute !important;
  inset: 0 0 0 0 !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-content {
  position: absolute !important;
  background-color: #f2f2f2 !important;
  border-radius: 20px !important;
  padding: 40px !important;
  z-index:100000 !important;
  display: inline-block !important;
  width: fit-content !important;
}
