.container {
    height: 100vh;
    justify-content: space-between;
    padding: 50px;
} 

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column; /* Set flex-direction to column */
    justify-content: center;
    align-items: center;
    border-right: 1px solid #03045e; /* Light Blue */
    border-radius: 15px 0px 0px 15px;
    padding: 0 50px;
    
  }

.left-side img {
  max-width: 100%;
  max-height: 300px; /* Adjust the height as desired */
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    padding: 0 50px;
    background-color: #DDE6ED; /* Bright Blue */
}

.login-table {
    border-radius: 15px solid #0c7b93 !important;
    margin: auto;
    width: 80%;
    background-color: #caf0f8; /* Very light blue */
    color: #000; /* Black color text */

}

/* .login-table td {
    padding: 10px;
} */

.login-table button {
    cursor: pointer;
    width: 100%;
    color: white; /* White color text */
    background-color: #0c7b93; /* Button with deep blue background */
    border: none; /* No border for button */
    padding: 10px; /* Some padding for button */
}

.registerHere{
    font-size:13px;
}
