.container {
    display: flex;
    height: 100vh;
    background-color: #03045e; /* Dark Blue */
    color: white;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column; /* Set flex-direction to column */
    justify-content: center;
    align-items: center;
    border-right: 1px solid #03045e; /* Light Blue */
    padding: 0 50px;
    background-color: #28666e; /* Light Blue */
  }
  
.left-side img {
  max-width: 100%;
  max-height: 150px; /* Adjust the height as desired */
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    background-color: #7c9885; /* Bright Blue */
}

.login-table {
    border: 2px solid #0c7b93; /* Table border with deep blue */
    margin: auto;
    width: 50%;
    background-color: #caf0f8; /* Very light blue */
    color: #000; /* Black color text */
    border-radius: 10px; /* Add border radius */
}

.login-table td {
    padding: 10px;
}

.login-table button {
    cursor: pointer;
    width: 100%;
    color: white; /* White color text */
    background-color: #0c7b93; /* Button with deep blue background */
    border: none; /* No border for button */
    padding: 10px; /* Some padding for button */
}
