/* .container {
    display: flex;
    height: 100vh;
    color: white;
    font-size:18px; 
    
} */

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column; /* Set flex-direction to column */
    justify-content: center;
    align-items: center;
    border-right: 1px solid #03045e; /* Light Blue */
    border-radius: 15px 0px 0px 15px;
    padding: 0 50px;
    background-color: #00b4d8; /* Light Blue */
  }
  
.left-side img {
  max-width: 100%;
  max-height: 150px; /* Adjust the height as desired */
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    padding: 0 50px;
    background-color: #caf0f8; /* Bright Blue */
}

.login-table {
    border: 2px solid #0c7b93; /* Table border with deep blue */
    margin: auto;
    width: 90%;
    background-color: #caf0f8; /* Very light blue */
    color: #000; /* Black color text */
    
}

.login-table td {
    padding: 10px;

}

.login-table button {
    cursor: pointer;
    width: 100%;
    color: white; /* White color text */
    background-color: #0c7b93; /* Button with deep blue background */
    border: none; /* No border for button */
    padding: 10px; /* Some padding for button */
}

.registerHere{
    font-size:13px;
}

