.resume-container {
  color: white;
}

input {
  width: 100%;
}

input:disabled {
  color: rgb(81, 81, 81);
  background-color: transparent;
  /* background-color: rgb(193, 193, 193); */
}

.resume-filename-section {
  margin-bottom: 1.5rem;
  margin-top: 6rem;
  border-radius: 20px;
  background-color: rgb(214, 223, 232);
  padding: 2rem;
  color: rgb(67, 67, 67);
}

.resume-filename-section input {
  font-size: 1rem;
  padding: 5px;
  padding-left: 1rem;
  border-radius: 100vh;
  border: none;
  outline: none;
}

.resume-main-section {
  border-radius: 20px;
  background-color: rgb(214, 223, 232);
  padding: 2rem;
  color: rgb(67, 67, 67);
}

.resume-personal-details-section {
}

.resume-personal-details-section input {
  font-size: 1rem;
  padding: 5px;
  padding-left: 1rem;
  border-radius: 100vh;
  border: none;
  outline: none;
}

.resume-details-part {
  margin-bottom: 1rem;
}

.resume-skills-section {
}

.resume-skills-section input {
  font-size: 1rem;
  padding: 5px;
  padding-left: 1rem;
  border-radius: 100vh;
  border: none;
  outline: none;
}

.resume-companies-section {
}

.edit-icons-lg {
  font-size: 3rem;
  cursor: pointer;
}

.edit-icons-md {
  font-size: 1.6rem;
  cursor: pointer;
}

.edit-icons:hover {
  color: rgb(187, 176, 161);
}

.skill-list {
  display: flex;
}

.skill-item {
  padding: 4px 10px 4px 10px;
  background-color: aliceblue;
  display: inline-block;
  border-radius: 100vh;
}

.skill-delete-icon {
  font-size: 1rem;
  cursor: pointer;
}

.resume-companies-section input {
  font-size: 1rem;
  padding: 5px;
  padding-left: 1rem;
  border-radius: 100vh;
  border: none;
  outline: none;
}

.list-index {
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: bold;
}

.companies-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.show-companies {
  border: 1px solid grey;
  border-radius: 100vh;
  margin-bottom: 7px;
  padding: 3px 10px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: rgb(67, 67, 67);
}

.show-companies:hover {
  background-color: grey;
  color: white;
  border: none;
}

.companies-details-card {
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(233, 233, 233);
  padding: 2rem;
  color: rgb(67, 67, 67);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;

}

.companies-details-single {
  margin-bottom: 10px;
}

.companies-details-single > p{
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.companies-details-card-details p{
  margin: 0;
  padding: 0;
  margin-left: 1.3rem;
}

.textarea-input:disabled{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.textarea-input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: white;
}

.flex-form{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.select-input:disabled{
  padding:5px;
  border-radius: 100vh;
  width: 100%;
  border: none;
  background-color: transparent;
  color: rgb(67, 67, 67);
}

.select-input{
  padding:5px;
  border-radius: 100vh;
  width: 100%;
  border: none;
  background-color: white;
}
