.search-bar {
    margin-bottom: 20px;
}

.pagination{
    border-top: 1px solid #dee2e6;
    background-color: #ffffff;
    display:flex;
    justify-content:center;
    align-items: center;
    width:auto;
    color:black;
    font-size:larger;
}

.pagination__link {
    font-size:larger;
    padding:2px;
  }
  
.pagination__link--disabled {
    font-size:larger;
    padding:2px;
  }

.next{
    font-size:larger;
    padding:2px;  
}

.pagination__link--active {
    font-size: larger;
    padding:2px;
  }
  

.table-fixed {
    table-layout: fixed;
  }

  .table-fixed th,
  .table-fixed td {
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
}

.main-container {
margin-top: 80px !important;
}