@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Lato&display=swap');

body{

    background-color: #001C30;

}

/* .main-container {
margin-top: 60px !important;
} */


.btn-rounded-outline {
  margin-top: 1rem;
  border-radius: 100vh;
  border: transparent 1px solid;
  background: rgb(8, 83, 244);
  width: 100%;
  padding: 5px 50px;
  color: white;
  transition: all 0.2s ease-in-out;
  font-size: 1.2rem;
}

.btn-rounded-outline:hover {
  border: rgb(8, 83, 244) 1px solid;
  background: transparent;
  color: rgb(8, 83, 244);
}

.btn-rounded-solid {
  margin-top: 1rem;
  border-radius: 100vh;
  border: rgb(8, 83, 244) 1px solid;
  background: transparent;
  width: 100%;
  padding: 5px 50px;
  color: rgb(8, 83, 244);
  transition: all 0.2s ease-in-out;
  font-size: 1.2rem;
}

.btn-rounded-solid:hover {
  border: transparent 1px solid;
  background: rgb(8, 83, 244);
  color: white;
}
